@font-face {
	font-family: 'Solomon Sans';
	src: url("../fonts/Solomon Sans Normal.otf");
}

h1, h2, h3{
	font-family: 'Solomon Sans';
}

p, label, a, button, h4, h5, h6{
	font-family: 'DM Sans';
}

#nav-tab button{
	color: #531001;
}

#nav-tab button:focus{
	color: #ff4a20;
}