@font-face {
	font-family: 'Solomon Sans';
	src: url("../fonts/Solomon Sans Normal.otf");
}

p, label, a{
	font-family: 'DM Sans';
}
button {
	font-size: 15px;
	/* letter-spacing: 2px; */
	background-color: white;
	/* text-transform: uppercase; */
	display: inline-block;
	text-align: center;
	font-weight: bold;
	padding: 0.3em 0.8em;
	border: 3px solid #FF4A20;
	border-radius: 5px;
	position: relative;
	/* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); */
	color: #FF4A20;
	text-decoration: none;
	transition: 0.3s ease all;
	z-index: 1;
}

button:before {
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: '';
	background-color: #FF4A20;
	z-index: -1;
}

button:hover, button:focus {
	color: white;
}

button:hover:before, button:focus:before {
	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
}

button:active {
	transform: scale(0.9);
}

#email{
	border-radius: 0;
}
#email:focus{
	outline: none;
	border-color: none;
	box-shadow: none; 
}
#password{
	border-radius: 0;
}
#password:focus{
	outline: none;
	border-color: none;
	box-shadow: none;
}