


@font-face {
	font-family: 'Solomon Sans';
	src: url("../fonts/Solomon Sans Normal.otf");
}

h5{
	font-family: 'Solomon Sans';
}

p, label, a{
	font-family: 'DM Sans';
}

button {
	display: inline-block;
	padding: 5px 12px;
	border: 2px solid #FF4A20;
	border-radius: 4px;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	font-size: 15px;
	cursor: pointer;
	color: black;
	z-index: 1;
	font-family: 'DM Sans';
	background-color: white;
 }
 
button:before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%) scaleY(1) scaleX(1.25);
	top: 100%;
	width: 140%;
	height: 180%;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
 }
 
button:after {
	content: "";
	position: absolute;
	left: 55%;
	transform: translateX(-50%) scaleY(1) scaleX(1.45);
	top: 180%;
	width: 160%;
	height: 190%;
	background-color: #531001;
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
 }
 
button:hover {
	color: #ffffff;
	border: 2px solid #531001;
 }
 
button:hover:before {
	top: -35%;
	background-color: #531001;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
button:hover:after {
	top: -45%;
	background-color: #531001;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 

#passwordResetEmail{
	border-radius: 0;
	border-color: #FF4A20;
}
#passwordResetEmail:focus{
	outline: none;
	border-color: none;
	box-shadow: none;
}